/* Menu */

@media (min-width: 370px) and (max-width: 999px){
    .menu {
        display: grid;
    }
}

/* Button */

.menu__button{
    display: none;
}

@media (min-width: 370px) and (max-width: 999px){
    .menu__button{ 
        display: block;
        
        border: none;
        background-color: transparent;
        justify-self: end;
        align-self: center;
        position: -webkit-sticky;
        position: sticky;
    }
}

/* Button Icon */

@media (min-width: 370px) and (max-width: 999px){
    .menu__icon{
        stroke: var(--special-extra-dark);
    }

    .menu__icon-contact, 
    .menu__button--open .menu__icon-cross {
        display: block;
    }

    .menu__icon-cross, 
    .menu__button--open .menu__icon-contact {
        display: none;
    }
}

/* Menu */

.header__menu{
    margin: 0;
    padding: 0;
}

@media (max-width: 369px){
    .header__menu{
        display: none;
    }    
}

@media (min-width: 370px) and (max-width: 999px){
    .header__menu {   
        display: none;
        grid-column: span 2;
    }

    .header__menu--open {
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: 0 50vh 0 50vh var(--special-white-a);
    }
}

@media (min-width: 1000px){
    .header__menu {   
        
    }
}

.menu__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 370px) and (max-width: 999px){
    .menu__list {
        padding-top: 25px;   
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
        align-items: stretch;
        align-content: space-between;
    }
}

@media (min-width: 1000px){
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: calc(var(--max-logo) + 100px);
    }
}

/* Menu punkts */

.menu__items{
    text-transform: uppercase;
}

@media (min-width: 370px) and (max-width: 999px){
    .menu__items {   
        color: var(--special-extra-dark);
        letter-spacing: 0.01em;
        font-size: 2em;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: stretch;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1000px){
    .menu__items {
        font-size: 2em;
    }
}

/* Links */

.menu__link{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.01em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


@media (min-width: 370px) and (max-width: 999px){
    .menu__link {   
        font-weight: 600;
        color: var(--special-extra-dark);
        
    }
}

@media (min-width: 1000px){
    .menu__link {
        font-weight: 400;
        color: var(--basic-white);
    }
}
