.main__services {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1000px) {
  .main__services {
    height: 100vh;
  }
}

.slider__item {
  display: none;
}

.slider__item--show {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__text {
  display: block;
  color: var(--basic-white);
  text-shadow: 1px 1px 2px var(--basic-black);
  font-weight: 600;
}

@media (max-width: 369px){
  .slider__text {
    font-size: 1.2em;
    padding-left: 1vw;
    padding-right: 1vw;
    position: absolute;
    bottom: 6vh;
    z-index: 1;
  }
}

@media (min-width: 370px) and (max-width: 999px){
  .slider__text {
    font-size: 2em;
    padding-left: 6vw;
    padding-right: 6vw;
    position: absolute;
    bottom: 50px;
    z-index: 1;
  }
}

@media (min-width: 1000px){
  .slider__text {
    font-size: 3em;
    padding-left: 6vw;
    padding-right: 6vw;
    position: absolute;
    bottom: 6vh;
    z-index: 1;
  }
}

/*Callback button*/

.slider__callback {
  
}

@media (min-width: 370px) and (max-width: 999px){
  .slider__callback{
    width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5vh;
  z-index: 1;
  }
}


/* Slider animation */
.slider__item-anim {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slider__item-anim {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes slider__item-anim {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}





