/* Variables */

:root {
  /*Colors*/
  --basic-black: #000000;
  /*--basic-neutral: #b1b3b6;*/
  --basic-white: #ffffff;
  --special-extra-dark: #1c33be;
  --special-white-a: rgba(255, 255, 255, 0.9);
  --special-gray-a: rgba(207, 207, 207, 0.5);

  /*Fonts*/

  --basic-font: 16px;

  /*Logo Sizes*/
  --max-logo: 150px;
}

/*
    @media (max-width: 369px){}
    @media (min-width: 370px) and (max-width: 999px){}
    @media (min-width: 1000px){}
*/
